{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
	<h1>Fast order</h1>
	<div class="row justify-content-md-center">
		<form action="{{ path('frontend.fastOrder.create') }}" method="post" class="buy-widget" data-form-csrf-handler="true">
			{% if errors %}
				<div class="row">
					<div class="col-12">
						{% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                            type: "danger",
                            list: errors
                        } %}
					</div>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-sm-8">
					<label for="productNumber">Product Number</label>
					<input type="text" name="productNumber" id="productNumber" class="form-control" value="{{ productNumber }}" required autocomplete="off">
				</div>
				<div class="col-sm-4">
					<label for="quantity">Quantity</label>
					<input type="number" name="quantity" id="quantity" class="form-control" required value="{{ quantity }}">
				</div>
			</div>

			<button class="btn btn-primary btn-block buy-widget-submit" style="margin-top: 10px;">
				{{ 'Add to shopping list' }}
			</button>

			{{ sw_csrf('frontend.fastOrder.create') }}
		</form>
	</div>
{% endblock %}
