{% block esacore_fast_order_list %}
    <sw-page class="esacore-fast-order-list">
        <template slot="content">
            {% block esacore_fast_order_list_content %}
                <sw-entity-listing
                    v-if="fastOrders"
                    :items="fastOrders"
                    :repository="repository"
                    :showSelection="false"
                    :columns="columns"
                    :allowEdit="false"
                    detailRoute="esacore.fast.order.detail">
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
