{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar_currency %}
    {{ parent() }}
    <div class="top-bar-nav-item">
        <a class="btn-sm btn-primary mt-1" href="{{ path('frontend.fastOrder.create') }}">Fast order</a>
    </div>
{% endblock %}
